extends layout

block content
  div#main-tabs
    ul
      li
        a(href='#main-tabs-conversion') 在線轉換
    div#main-tabs-conversion
      div#orig-type.option
        | 原文
        input#orig-type-simp(type='radio',name='orig-type',checked='checked',value='simp')
        label(for='orig-type-simp') 簡體
        input#orig-type-trad(type='radio',name='orig-type',value='trad')
        label(for='orig-type-trad') 繁體
      div#tar-type.option
        | 目標
        input#tar-type-simp(type='radio',name='tar-type',value="simp")
        label(for='tar-type-simp') 簡體
        input#tar-type-trad(type='radio',name='tar-type',checked='checked',value="trad")
        label(for='tar-type-trad') 繁體
      div#variant-type.option
        | 異體字轉換
        input#variant-type-opencc(type='radio',name='variant-type',checked='checked',value="opencc")
        label(for='variant-type-opencc') OpenCC標準
        input#variant-type-taiwan(type='radio',name='variant-type',value="taiwan")
        label(for='variant-type-taiwan') 臺灣標準
        input#variant-type-hongkong(type='radio',name='variant-type',value="hongkong")
        label(for='variant-type-hongkong') 香港標準
      div#idiom-type.option
        | 地域用詞轉換
        input#idiom-type-disabled(type='radio',name='idiom-type',checked='checked',value="disabled")
        label(for='idiom-type-disabled') 不轉換
        input#idiom-type-mainland(type='radio',name='idiom-type',value="mainland")
        label(for='idiom-type-mainland') 中國大陸模式
        input#idiom-type-taiwan(type='radio',name='idiom-type',value="taiwan")
        label(for='idiom-type-taiwan') 臺灣模式
      textarea#text
      div#proof
      div#selector
        ul
      div
        button#convert 轉換
        button#new-convert 新轉換
      div#dialog-config-error(title='無效配置',style='display:none;')
        p 您選擇的轉換模式是無效的。
      div#dialog-request-error(title='轉換失敗',style='display:none;')
        p
      p
        a(href="https://github.com/BYVoid/OpenCC") 關於OpenCC
  script(src="/js/opencc.js")
