doctype html
html
  head
    title 開放中文轉換 Open Chinese Convert (OpenCC)
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="keywords", content="OpenCC, 簡繁轉換, 簡化字, 簡體字, 繁體字, 正體字, 简繁转换, 在线简繁转换, 简化字, 简体字, 繁体字, 正体字, 異體字, 异体字, BYVoid")
    meta(name="description", content="OpenCC簡繁轉換")
    link(rel='stylesheet', href='//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/flick/jquery-ui.css')
    link(rel='stylesheet', href='/css/custom.css')
  body
    div#wrapper
      div#header
        div(style='float: left')
          a(href='https://github.com/BYVoid/OpenCC',target='_blank')
            img(src='http://code.google.com/p/opencc/logo',alt='')
        h1
          a(href='https://github.com/BYVoid/OpenCC') 開放中文轉換 (Open Chinese Convert)
      script(src='//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js')
      script(src='//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js')
      block content
